html,body{
  color: #333;
  font-family: Calibri;
  margin: 0;
  font-size: 1em;
}

h1,h2{
  font-family: Consolas;
}

header{
  background-color: red;
  color: white;
  padding: 1em 1em 0.5em 1em;
  text-align: center;
}

header h1{
  margin: 0;
}

#iconos{
 padding-top: 1em;
 display: flex;
 justify-content: space-between;
}

h2{
  color: #000000;
}

#iconoNacional, #iconoBorrar{
  height: 14px;
  cursor: pointer;
}

#iconoBorrar{
  margin-left: auto;
}

#generaciones{
  background-color: black;
  display: flex;
  justify-content: flex-start;
  padding: 0.25em 0.5em 0.25em 0.5em
}

#generaciones img{
  padding-right: 1em;
  height: 1em;
}

.generacion{
  display: flex;
  justify-content: flex-start;
}

.generacion div{
  padding: 0 1em;
}

.generacion.mostrar{
  transition: opacity 5s;
  opacity: 1;
}

#juegosGen{
  margin: 1em 0;
  animation-duration: 2s;
  animation-name: slidein;
}

#juegosGen > div.generacion{
  text-align: center;
}

#titulo{
  text-align: center;
}

.divPortada{
  width: 100px;
  border: 5px solid white;
}

.divPortada.completado{
  border: 5px solid gold;
}

.boton:hover, .lugar h1:hover, .divPortada:hover, .pok:hover {
	cursor: pointer;
}

.boton.borrar{
  border: none;
  background: white;
  color: #999;
  margin-left: -1.5em;
  font-size: 1.5rem;
  height: 90%;
}

#totales{
  text-align: center;
  margin-top: 2em;
}

#divBusqueda {
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;

}
#busqueda {
  border: 2px solid;
  border-radius: 0.5em;
  height: 3em;
  width: 30%;
  text-align: center;
}

#mapa{
  width: 50%;
  text-align: center;
}

#cuerpo{
  border-radius: 0.5em;
  padding: 1em;
  text-align: center;
  margin: auto;
}

#cuerpo.trofeos{
  display: flex;
  flex-wrap: wrap;
}


#btnArriba{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: 1px solid black;
  padding: 15px;
  border-radius: 10px;
}

#btnArriba:hover {
  opacity: 0.5;
}

.lema{
  font-style: italic;
}

.divFiltros{
  text-align: right;
}

footer{
  border-top: 5px solid black;
  text-align: center;
  margin-top: 1em;
}

#busqueda.nacional{border-color:#000;} #btnArriba.nacional{background-color: #DDD;}
#cuerpo.nacional{background-color: #FFF}; #titulo.nacional{background-color: #000}

#cuerpo.rojo, #btnArriba.rojo{background-color: #ff5b54;} #busqueda.rojo{border-color: #ff5b54;} #titulo.rojo{color: #ff5b54;}
#cuerpo.azul, #btnArriba.azul{background-color: blue;} #btnArriba.azul{color:#FFFFFF} #busqueda.azul{border-color: blue;} #cuerpo.azul h1{color: white;} #titulo.azul{color: blue;} #cuerpo.azul .lema {color: white;}
#cuerpo.amarillo, #btnArriba.amarillo{background-color: yellow;} #busqueda.amarillo{border-color: yellow;} #titulo.amarillo{color: yellow;}
#cuerpo.oro, #btnArriba.oro{background-color: gold;} #busqueda.oro{border-color: gold;} #titulo.oro{color: gold;}
#cuerpo.plata, #btnArriba.plata{background-color: silver;} #busqueda.plata{border-color: silver;} #titulo.plata{color: silver;}
#cuerpo.cristal, #btnArriba.cristal{background-color: #4FD9FF;} #busqueda.cristal{border-color: #4FD9FF;} #titulo.cristal{color: #4FD9FF;}
#cuerpo.rubi, #btnArriba.rubi{background-color: #E0115f;} #busqueda.rubi{border-color: #E0115f;} #titulo.rubi{color: #E0115f;}
#cuerpo.zafiro, #btnArriba.zafiro{background-color: #0F52BA;} #busqueda.zafiro{border-color: #0F52BA;} #cuerpo.zafiro h1{color: white;} #titulo.zafiro{color: #0F52BA;} #cuerpo.zafiro .lema {color: white;}
#cuerpo.esmeralda, #btnArriba.esmeralda{background-color: #50C878;} #busqueda.esmeralda{border-color: #50C878;} #titulo.esmeralda{color: #50C878;}
#cuerpo.rojofuego, #btnArriba.rojofuego{background-color:#fb8a5d} #busqueda.rojofuego{border-color:#fb8a5d} #titulo.rojofuego{color: #fb8a5d;}
#cuerpo.verdehoja, #btnArriba.verdehoja{background-color:#00BD00} #busqueda.verdehoja{border-color:#00BD00} #titulo.verdehoja{color: #00BD00;}
#cuerpo.diamante, #btnArriba.diamante{background-color:#1058a8} #busqueda.diamante{border-color:#1058a8} #cuerpo.diamante h1{color: white;} #titulo.diamante{color: #1058a8;} #cuerpo.diamante .lema {color: white;}
#cuerpo.perla, #btnArriba.perla{background-color:thistle} #busqueda.perla{border-color:thistle} #titulo.perla{color: thistle;}
#cuerpo.platino, #btnArriba.platino{background-color:#adacab} #busqueda.platino{border-color:#adacab} #titulo.platino{color: #adacab;}
#cuerpo.heartgold, #btnArriba.heartgold{background-color:goldenrod} #busqueda.heartgold{border-color:goldenrod} #titulo.heartgold{color: goldenrod;}
#cuerpo.soulsilver, #btnArriba.soulsilver{background-color:#8e8585} #busqueda.soulsilver{border-color:#8e8585} #titulo.soulsilver{color: #8e8585;}
#cuerpo.negro, #btnArriba.negro{background-color:#000000; color:#ffffff} #busqueda.negro{border-color:#000000} #titulo.negro{color: #000000;} #cuerpo.negro h1{color: white;} #cuerpo.negro .lema {color: white;}
#cuerpo.blanco, #btnArriba.blanco{background-color:#ffffff; border: 1px solid #000000;} #busqueda.blanco{border-color:#000000} #titulo.blanco{color: #000000;}
#cuerpo.negro2, #btnArriba.negro2{background-color:#000000; color:#ffffff} #busqueda.negro2{border-color:#000000} #titulo.negro2{color: #000000;} #cuerpo.negro2 h1{color: white;} #cuerpo.negro2 .lema {color: white;}
#cuerpo.blanco2, #btnArriba.blanco2{background-color:#ffffff; border: 1px solid #000000;} #busqueda.blanco2{border-color:#000000} #titulo.blanco2{color: #000000;}

/*div > div > div > h1{
  color: black !important;
}*/

div.lugar>h1::before{
  margin-right: 0.25em;
  background-image:url('../img/otros/Cartel.png');
  background-size: 16px 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
  content:"";
}

div.lugar>h1.marcador::before{
  margin-right: 0.25em;
  background-image:url('../img/otros/marcador.png');
  display: inline-block;
  width: 16px;
  height: 16px;
  content:"";
}

div.lugarCont > div.lugar > h1{
    color: #000 !important;
}

div.lugarCont>h2{
  background-color: #eee;
  border-radius: 5px;
  padding: 0.5em;
}

div.pok {
  border-radius: 5px;
  margin: 1em;
  font-family: Candara;
  padding: 0.5em;
}

div.pok p {
  margin: 0 0.5em 0 0;
}

div.pok.veneno, div.pok.lucha, div.pok.dragon, div.pok.siniestro, div.pok.fantasma {
  color: #FFF;
}

div.pok.veneno svg path, div.pok.veneno svg text,
div.pok.lucha svg path, div.pok.lucha svg text{
  stroke: #FFF;
}

#cuerpo.nacional > div.pok {
  display: block;
}

div.datos{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

div.divObt{
/*  border: 1px solid #CCC;
  border-radius: 5px;*/
  margin-bottom: 0.5em;
}

/*div[obtencion="inicial"], div[obtencion="escoger"], div[obtencion="errante"]{
  background-color: #fff176;
}*/

div[obtencion="hierba"]::before{
  margin-top: 0.5em;
  background-image:url('../img/otros/gen1hierba.png');
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
}

/*div[obtencion="hierba"], div[obtencion="concurso"]{
  background-color: #66bb6a;
}*/

div[obtencion="caminando"]::before{
  margin-top: 0.5em;
  background-image:url('../img/otros/gen1cueva.png');
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
}

/*div[obtencion="caminando"]{
  background-color: #d35400;
}*/

div[obtencion="pesca"]::before{
  margin-top: 0.5em;
  background-image:url('../img/cania/vieja.png');
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
}

/*div[obtencion="pesca"]{
  background-color: #bbdefb;
}*/

div[obtencion="surf"]::before{
  margin-top: 0.5em;
  background-image:url('../img/otros/gen1surf.png');
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
}

/*div[obtencion="surf"]{
  background-color: #1565c0;
}*/

div[obtencion="intercambio"]::before{
  margin-top: 0.5em;
  background-image:url('../img/otros/cable.png');
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content:"";
}

/*div[obtencion="intercambio"]{
  background-color: #f8bbd0;
}*/

div[obtencion="inicial"]::before, div[obtencion="regalo"]::before, div[obtencion="especial"]::before, div[obtencion="escoger"]::before, div[obtencion="concurso"]::before{
  margin-top: 0.5em;
  background-image:url('../img/otros/regalo.png');
  background-size: 16px 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
  content:"";
}

div[obtencion="huevo"]::before{
  margin-top: 0.5em;
  background-image:url('../img/otros/huevo.png');
  background-size: 16px 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
  content:"";
}

/*div[obtencion="regalo"], div[obtencion="especial"], div[obtencion="huevo"]{
  background-color: #e1bee7;
}*/

div[obtencion="casino"]::before{
  margin-top: 0.5em;
  background-image:url('../img/otros/token.png');
  background-size: 16px 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
  content:"";
}

div[obtencion="comprar"]::before{
  margin-top: 0.5em;
  background-image:url('../img/otros/pokecuarto.png');
  background-size: 16px 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
  content:"";
}

/*div[obtencion="casino"], div[obtencion="comprar"]{
  background-color: #ffccbc;
}*/

div[obtencion="fosil"]::before{
  margin-top: 0.5em;
  background-image:url('../img/otros/gen1fosil.png');
  background-size: 16px 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
  content:"";
}

/*div[obtencion="fosil"]{
  background-color: #795548;
}

div[obtencion="legendario"]{
  background-color: #78909c;
}*/

div[obtencion="masiva"]::before{
  margin-top: 0.5em;
  background-image:url('../img/otros/masiva.png');
  background-size: 16px 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
  content:"";
}

/*div[obtencion="masiva"]{
  background-color: #FF9800;
}*/

div[obtencion="roca"]::before{
  margin-top: 0.5em;
  background-image:url('../img/otros/Gen2 Roca.png');
  background-size: 16px 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
  content:"";
}

div[obtencion="cabeza"]::before{
  margin-top: 0.5em;
  background-image:url('../img/otros/arbol_normal.png');
  background-size: 16px 16px;
  display: inline-block;
  width: 16px;
  height: 16px;
  content:"";
}

/*div[obtencion="roca"]{
  background-color: #CFD8DC;
}

div[obtencion="cabeza"]{
  background-color: #C8E6C9;
}*/

div.evo{
  width: 70%;
  margin: 1em auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

div.pok svg{
  width: 2.5em;
  padding: 0.5em;
}

img.imgGen, img.imgPok{
  width: 2.5em;
}

div.forma {
  border-radius: 5px;
  padding: 0.5em;
}

img.estrella{
  width: 1em;
}

div.lugarCont{
  margin: 1.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1em;
  background-color: #eee;
  background-repeat: no-repeat;
  background-size: cover;
}

div.cania img, div.hora img, div.arbol img, div.estacion img {
  padding: 0.2em 0.5em;
}

div.arbol p {
  padding: 0 0.5em;
}

div.cania > div, div.hora > div, div.arbol > div, div.estacion > div, div.probabilidad > div, div.fichas, div.precio {
  display: flex;
  align-items: center;
  justify-content: center;;
}

div.cania img{
  height:fit-content;
}

img.cablelink{
  width: 20px;
}

img.pokecuarto{
  width: 15px;
}

img.ficha{
  width: 25px;
}

img.sonidos{
  padding: 0 0 0 0.5em !important;
}

div.obtencion{
  margin-top: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

div.estacion img{
  width: 2em;
}

svg path {
  stroke: black;
}

div.trofeo{
  border: 1px solid black;
  background-color: white;
  padding: 5px;
  position: fixed;
  left: 10px;
  animation: slidebottom 6s;
  display: grid;
  width: 30%;
  column-gap: 0.5em;
  height: 170px;
  align-content: center;
}

div.trofeoEstatico{
  border: 1px solid black;
  padding: 5px;
  display: grid;
  width: 30%;
  column-gap: 0.3em;
  margin: 0.5em;
}

div.trofeo > img, div.trofeoEstatico > img{
  width: 100%;
  grid-column:1;
  grid-row: span 2;
  height: 150px;
}

div.trofeo > h3, div.trofeoEstatico > h3 {
  grid-column: 2;
  margin: 0;
  align-self: center;
}

div.trofeo > p, div.trofeoEstatico > p {
  grid-column: 2;
  margin: 0;
  align-self: center;
}

.oculto{display: none !important;}
.obtenido,.seleccionado{opacity: 50%;}
.noObtenido{filter: grayscale(100%);}
.portada{width: 32px; height: 32px; margin:0.2em;}

.sublegendario{border: 5px solid #B87333;}
.legendario{border: 5px solid silver;}
.singular{border: 5px solid gold;}


@media screen and (min-width: 480px) and (max-width: 799px) {
  #cuerpo {
    width: 95%;
  }
  /*h1{
	font-size: 4rem;
  }

  h2{
	font-size: 3rem;
  }*/
}

@media screen and (min-width: 800px) and (max-width: 1919px) {
  #cuerpo {
    width: 80%;
  }
  /*h1{
	font-size: 3rem;
  }

  h2{
	font-size: 2rem;
  }*/
}

@media screen and (min-width: 1920px) {
  #cuerpo {
    width: 50%;
  }
  /*h1{
	font-size: 3rem;
  }

  h2{
	font-size: 2rem;
  }*/
}


@keyframes slidein{
  from {margin-left: -25%;}
  to {margin-left: 0;}
}

@keyframes slidebottom{
  0% {margin-bottom: -25%;}
  40% {margin-bottom: 0;}
  60% {margin-bottom: 0;}
  100% {margin-bottom: -30%;}
}
